# Name of the workflow as it appears in the Actions tab
name: Android CI

# Define the events that trigger the workflow
on:
  push:
    branches:
      - "main"
      - "Iteration*"
  pull_request:
    branches:
      - "main"
      - "Iteration*"

# A workflow is made up of one or more jobs
jobs:

  # Checking for the syntax of the entire source code
  lint:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v5

      # The composite action for checkout and java
      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          google_services_json: ${{ secrets.BUZZGUY_GOOGLE_SERVICES_JSON }}

      # Add a step to run Android Lint
      - name: Run Android Lint
        run: ./gradlew lint

  # Running all the tests
  test:
    needs: lint
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          google_services_json: ${{ secrets.BUZZGUY_GOOGLE_SERVICES_JSON }}

      # Cache Gradle dependencies to speed up builds
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # Run the Unit Tests
      - name: Run Unit Tests
        run: ./gradlew test

      # Upload Unit Test results as an artifact
      - name: Upload Unit Test Reports
        uses: actions/upload-artifact@v4
        if: always() # Upload even if tests fail
        with:
         name: unit-test-reports
         path: app/build/reports/tests/testDebugUnitTest/
         retention-days: 3

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # Run the Instrument Tests
      - name: Run Instrument Tests
        uses: reactivecircus/android-emulator-runner@v2.34.0
        with:
          api-level: 33
          target: default # Ensures a stable, resource-efficient target
          arch: x86_64 # Specify the 64-bit architecture
          # Adjust ram-size to prevent resource starvation on the CI runner
          profile: Nexus 4
          emulator-options: -no-window -no-boot-anim -no-audio -no-snapshot-load
          script: |
            adb wait-for-device
            adb shell input keyevent 82
            ./gradlew connectedAndroidTest --continue

      # Upload Instrument Test results as an artifact
      - name: Upload Instrument Test Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: instrument-test-reports
          path: app/build/reports/androidTests/
          retention-days: 3

  # Packaging the app for distribution

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          google_services_json: ${{ secrets.BUZZGUY_GOOGLE_SERVICES_JSON }}

      - name: Decode keystore
        env:
          KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
        run: |
          echo "${KEYSTORE_FILE}" | base64 --decode > ${{ github.workspace }}/app/keystore.jks

      # This step builds the AAB, the release
      - name: Build release AAB
        env:
           KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
           KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
           KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          ./gradlew bundleRelease \
            -Pandroid.injected.signing.store.file=${{ github.workspace }}/app/keystore.jks \
            -Pandroid.injected.signing.store.password="$KEYSTORE_PASSWORD" \
            -Pandroid.injected.signing.key.alias="$KEY_ALIAS" \
            -Pandroid.injected.signing.key.password="$KEY_PASSWORD"

      # Uploads the AAB artifact with a 3-day retention period
      - name: Upload release AAB artifact
        uses: actions/upload-artifact@v4
        with:
          name: BuzzGuy-release-aab
          path: app/build/outputs/bundle/release/*.aab
          retention-days: 3

      # Step 6: Upload the generated APK as an artifact (or to Google Play)
#      - name: Upload release AAB
#        uses: actions/upload-artifact@v3
#        with:
#          name: app-release
#          path: app/build/outputs/bundle/release/app-release.aab
